{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% block head %}
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <title>{% block title %}{% endblock %} Web User Test </title>
    {% endblock %}
</head>
<body>
    {% block content %}
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{% url 'index' %}">Test UI</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <!-- active and disabled  -->
              <a class="nav-item nav-link" href="{% url 'barrank' %}">Bar ranking <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="{% url 'histogram' %}">Histogram</a>
              <a class="nav-item nav-link" href="{% url 'density' %}">Density Plot</a>
              <a class="nav-item nav-link" href="{% url 'table' %}">Table Details</a>
            
            </div>
          </div>
        </nav>
        {% block body %}
        <h1>Welcome to user web interaction ! </h1>
        <br>
        <!-- The form -->
        <div class="container">
          <div class="jumbotron">
            <form method="POST">
              <h1>Enter your website name </h1>
              <br>

                {{user_form.as_p}}
                {{website_form.as_p}}
                {% csrf_token %}
              <input type="submit" name="btn bt-primery" onclick="location.href='{% url 'usrweb_view' %}'"  value="Continue">
            </form>
          </div>
        </div>

        {{ div | safe }}
        <div class="">
          <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.0/bokeh.js"></script>
          {{ script| safe }}

        </div>
        {% endblock %}
    {% endblock %}
  </div>

    <div class="fixed-bottom" id="footer">
        {% block footer %}
        &copy; Copyright 2018 by <a href="https://www.purdue.edu/discoverypark/vaccine/">VACCINE</a>.
        {% endblock %}
    </div>
</body>
</html>
