{% extends "bokeh_app/index.html" %}
{% block title %} Bokeh Figure {% endblock %}

{% block head %}
<!-- Bohek import cnds note the version must much-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.0/bokeh.css" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.0/bokeh-widgets.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.0/bokeh.min.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.0/bokeh-widgets.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.0/bokeh.min.css" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.0/bokeh-widgets.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.0/bokeh-widgets.min.js"></script>
{% endblock %}

<p>Im on the page</p>

{% block content %}
<div class="container">
  {{ div | safe }}
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.0.0/bokeh.js"></script>
 {{ server_script| safe }}
</div>
{% endblock %}
