{% extends "bokeh_app/index.html" %}
{% block head %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>

{% endblock %}
{% block title %} Bokeh Figure {% endblock %}
{% block body %}
<!-- <link rel="stylesheet" href="style.css" /> -->

<div style="width: 35%; height: 400px; position: absolute; left:0; top:55px; border: black solid 1px; overflow: auto;"> {{server_script|safe}}</div>
<div style="width: 65%; height: 600px; position: absolute; right:0; top:55px; border: black solid 1px; overflow: auto;"> {{den_script|safe}} </div>
<div style="width: 50%; height: 700px; position: absolute; left:0; top:68%; border: black solid 1px; ">   {{his_script|safe}}</div>
<div style="width: 40%; height: 600px; position: absolute; right:0; top:68%; border: black solid 1px; overflow: auto;">  {{rank_script|safe}}</div>

{% endblock %}
